/* AboutUsSection.css */
.about-us-section {
    /* Yeşil arka plan */
       padding: 40px 0;
     }
     
     .about-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0 20px;
       max-width: 1200px;
       margin: 0 auto;
     }
     
     .about-content {
       flex: 1;
       padding-right: 20px;
       padding-left: 20px;
   
     }
     
     .about-content h2 {
       font-size: 2rem;
       margin-bottom: 10px;
       text-align: start;
     }
     
     .about-content p {
       font-size: 1.1rem;
       line-height: 1.6;
       color: #000;
       text-align: start;
     }
     
     .legal500 {
       text-align: center;
       flex: 1;
     }
     
     .legal500 h1 {
       font-size: 5rem;
       color: #2b4d76;
     }
     
     .legal500 h1 span {
       font-weight: bold;
     }
     
     /* Responsive Media Queries */
     @media (max-width: 1024px) {
       .about-container {
         flex-direction: column;
         text-align: center;
       }
     
       .about-content {
         padding-right: 0;
         margin-bottom: 20px;
       }
     
       .legal500 h1 {
         font-size: 3rem;
       }
     }
     
     @media (max-width: 480px) {
       .about-content h2 {
         font-size: 1.5rem;
       }
     
       .about-content p {
         font-size: 1rem;
       }
     
       .legal500 h1 {
         font-size: 2.5rem;
       }
     }
     