
.slider-container {
  width: 100%;
  height: auto; /* Yükseklik ayarlaması */
  display: flex;
  justify-content: center;
  align-items: center; /* Üstten başlaması için */
  position: relative; /* Pozisyonu göreceli yaparak daha iyi kontrol */
}

.slider-container img {
  width: 100vw;
  height: 40vh; /* Genişliğe göre otomatik yükseklik */
  object-fit: cover; /* Resmin kapsama stilini ayarlıyoruz */
  object-position: center;
}

/* Küçük ekranlar için */
@media (max-width: 1440px) {
  .slider-container img {
      height: auto; /* Küçük ekranlarda yükseklik otomatik */
      max-height: 50vh; /* Ekranın yüksekliği ile sınırla */
  }
}

/* 1441px ve üzeri için yükseklik ayarlaması */
@media (min-width: 1441px) {
  .slider-container img {
      height: 70vh; /* Yüksekliği artırabiliriz */
  }
}
